<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATM | Profile</title>
    <link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet" />
    <link href="/profile.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  
  <% const dob = profile.Dob.toLocaleDateString() %>
  <body>
    <header class="show">
      <h1>
        <big><b> ATM Name</b></big>
      </h1>
    </header>
    <%- include('./partials/navbar.ejs') %>
    <div id="content"></div>

    <div class="main">
      <div class="profileBox">
        <div class="leftnav">
          <nav class="sidebar">
            <a onclick="tabs(0)" href="#" class="tab active">
              <i class="fa fa-user"></i>
            </a>
            <a onclick="tabs(1)" href="#" class="tab">
              <i class="fa fa-credit-card"></i>
            </a>
          </nav>
        </div>
        <div class="rightbox">
          <div class="profile tabShow">
            <form action="/clients/profile" method="POST">
            <h1>Personal Information</h1>
              <h3>Full Name</h3>
              <input
                type="text"
                name="name"
                value="<%=profile.name%>"
                class="input"
                placeholder="first-last-name"
              />
              <h3>Date of Birth</h3>
              <input type="text" name="date" value="<%=dob%>" class="input" />
              <h3>Email-id</h3>
              <input
                type="email"
                name="email"
                value="<%=profile.Email_id%>"
                class="input"
                placeholder="email@blank.com"
              />
              <h3>Phone Number</h3>
              <input
                type="number"
                name="phone"
                value="<%=profile.Phone_number%>"
                class="input"
                placeholder="+1234567"
              />
              <h3>Address</h3>
              <input
                type="text"
                class="input"
                name="address"
                value="<%=profile.Address%>"
                placeholder="building, street, area"
              />
              <div class="box">
                <input type="submit" class="btn" value="update" class="submit" >
              </div>
          </div>
          <div class="accountInfo tabShow">
            <h1>Account Information</h1>
            <h3>Branch</h3>
            <input
              type="text"
              class="input"
              value="<%=profile.Branch_of_Bank%>"
              placeholder="branch-of-bank"
              id="num"
              disabled
            />
            <h3>Pan-ID</h3>
            <input
              type="text"
              value="<%=profile.Pan_id%>"
              class="input"
              id="num"
              placeholder="1234567"
              disabled
            />
            <h3>Primary Account Number</h3>
            <input
              type="text"
              value="<%=profile.Primary_account_number%>"
              class="input"
              id="num"
              placeholder="1234567"
              disabled
            />
            <h3>Secondary Account Number</h3>
            <input
              type="text"
              value="<%=profile.Saving_account_number%>"
              class="input"
              id="num"
              placeholder="1234567"
              disabled
            />
          </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script>
      const tabBtn = document.querySelectorAll(".tab");
      const tab = document.querySelectorAll(".tabShow");

      function tabs(panelIndex) {
        tab.forEach(function (node) {
          node.style.display = "none";
        });
        tab[panelIndex].style.display = "block";
      }
      tabs(0);
    </script>
    <script>
      $(".tab").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
      });
    </script>
  </body>
</html>
